<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attitudes_count</key>
	<integer>1</integer>
	<key>created_at</key>
	<string>just now</string>
	<key>source</key>
	<string>app store app store</string>
	<key>text</key>
	<string>app store app store app store app store app store app store </string>
	<key>pic_urls</key>
	<array>
		<dict>
			<key>Janes</key>
			<string>app store</string>
			<key>book</key>
			<string>app </string>
		</dict>
	</array>
</dict>
</plist>
