<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attitudes_count</key>
	<integer>1</integer>
	<key>created_at</key>
	<string>just now</string>
	<key>source</key>
	<string>app store</string>
	<key>text</key>
	<string>app store app store app store app store app store app store</string>
	<key>user</key>
	<dict>
		<key>mbrank</key>
		<integer>6</integer>
		<key>name</key>
		<string>嘴巴笑抽筋了</string>
		<key>vip</key>
		<true/>
	</dict>
</dict>
</plist>
